// Default
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}
body {
  font-family: "IBM Plex Sans", "Courier New", Courier, monospace;
  background-color: var(--bg-color);
  color: var(--body-color);
  transition: color 0.6s, background-color 0.6s;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow: auto;
}

.side {
  a:not(.button) {
    color: var(--link-color);
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.8;
    }
  }
}

img {
  max-width: 100%;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.summary {
  justify-self: flex-start;
  align-self: stretch;
  margin-top: auto;
  padding: 2rem 0;
  background: rgba(255, 255, 255, 0.1);

  & > .title {
    padding-left: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 120%;
  }

  .field {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    &:first-child {
      border: none;
    }
    display: flex;
    padding: 0.25rem 2rem;

    .title {
      flex: 1;
      display: flex;
      padding: 0.1rem 0rem;
      align-items: center;

      font-weight: 600;
      display: flex;
      align-items: center;

      .icon {
        &:not(:empty) {
          flex: 0 0 1.2em;
          height: 1.2rem;
          margin-right: 0.75rem;
        }
      }
    }

    .value {
      border-left: 1px solid var(--border-color);
      margin: 0;
      padding: 0;
      margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
